<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chris.question.pay.dao.RateMapper">
    <resultMap id="RateMap" type="com.chris.question.pay.pojo.Rate">
        <id property="id" column="id"/>
        <result property="rate" column="rate"/>
        <result property="memberId" column="member_id" />

        <result property="del" column="del"/>
        <result property="version" column="version"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
    </resultMap>

    <insert id="insertRate" parameterType="com.chris.question.pay.pojo.Rate"
        useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rate (rate,member_id) VALUES (#{rate},#{memberId})
    </insert>

    <delete id="deleteRate" parameterType="Long">
        UPDATE rate SET del=0 WHERE member_id=#{memberId}
    </delete>

    <update id="updateRate" parameterType="com.chris.question.pay.pojo.Rate">
        UPDATE rate
        SET rate=#{rate}
        WHERE member_id=#{memberId}
    </update>

    <select id="getRate" parameterType="Long" resultMap="RateMap">
        SELECT * FROM rate WHERE member_id=#{memberId} AND del=1
    </select>
</mapper>