<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chris.question.user.dao.ActivityMapper">
    <resultMap id="ActivityMap" type="com.chris.question.user.pojo.Activity">
        <id property="id" column="id"/>
        <result property="questionId" column="question_id"/>
        <result property="userId" column="user_id"/>

        <result property="del" column="del"/>
        <result property="version" column="version"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
    </resultMap>

    <insert id="insertActivity" parameterType="com.chris.question.user.pojo.Activity"
            useGeneratedKeys="true" keyProperty="id">
       INSERT INTO activity (question_id, user_id) VALUES (#{questionId},#{userId})
    </insert>
    
    <delete id="deleteActivity" parameterType="Long">
        UPDATE activity SET del=0
        WHERE id=#{id}
    </delete>
    
    <select id="getActivityListByUserId" parameterType="String" resultMap="ActivityMap">
        SELECT * FROM activity
        WHERE user_id=#{userId} and del=1
        ORDER BY create_date DESC
    </select>

    <delete id="deleteActivityByIndex" parameterType="com.chris.question.user.dto.IndexDto">
        UPDATE activity SET del=0
        WHERE question_id=#{questionId} AND user_id=#{userId}
    </delete>
</mapper>